{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% include "./header.html" %}

    {% if request.user.is_authenticated  %}
    <form action="{% url 'authentication:log_out' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Log Out</button>
    </form>
    {% else %}
    <a href="{% url 'authentication:log_in' %}">Log In</a>
    {% endif %}


    {% if request.user.is_authenticated %}
        <h2>Welcome, {{ request.user }}</h2>
    {% else %}
        <h2>Welcome</h2>
    {% endif %}    


    {% if messages %}
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    {% endif %}

    <div class="container">
        {% block body %}
        {% endblock body %}
    </div>

</body>
</html>