{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title  %}The Bookmark Blog{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <nav class="navbar">
    <div class="nav-left">
      <a href="#" class="brand">The Bookmark Blog</a>
    </div>
    <div class="nav-right">
      <a href="{% url 'review:book_list' %}" class="nav-link">Our Books</a>
      <div id="auth-buttons">
        {% if request.user.is_authenticated %}
        <form id="logout-form" action="{% url 'authentication:log_out' %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="nav-btn">Log Out</button>
        </form>
        {% else %}
        <button type="submit" class="nav-btn" onclick="window.location.href='{% url 'authentication:log_in' %}'">Log In</button>
        {% endif %}
      </div>
    </div>
  </nav>
  <div class="space-after-nav"></div>
  
  {% if messages %}
  <div class="message-container">
      <ul>
          {% for message in messages %}
          <li class="message {{ message.tags }}">{{ message }}</li>
          {% endfor %}
      </ul>
  </div>
  {% endif %}


    {% block body %}
    {% endblock body %}
</body>
</html>