{% extends "partials/base.html" %}

{% block title %}Log In{% endblock title %}

{% block body %}
<h3 class="form-heading">Log In</h3>
<form action="{% url 'authentication:log_in' %}" method="POST" class="review-form">
    {% csrf_token %}
    {% for error in form.non_field_errors %}
    <p class="error-msg">{{ error }}</p>
    {% endfor %}


    <div class="form-group">
        {% if form.errors.username %}
        {% for error in form.errors.username %}
            <p class="error-msg">{{ error }}</p>
        {% endfor %}
        {% endif %}
        <label for="username">Username:</label>
        <input id="username" type="text" name="username" class="form-control">
    </div>
    <div class="form-group">
        {% if form.errors.password %}
        {% for error in form.errors.password %}
            <p class="error-msg">{{ error }}</p>
        {% endfor %}
        {% endif %}
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" class="form-control">
    </div>

    <button type="submit" class="submit-btn">Log In</button>
    <p>Don't have an account yet? <a href="{% url 'authentication:sign_up' %}"> Sign Up</a></p>
</form>
{% endblock body %}
