<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Authors</title>
</head>
<body>
    <h2>All Authors</h2>
    <ul>
    {% for author in all_authors %}
    <h3><a href="{% url 'authors:author_detail' author.pk %}">{{ author }}</a></h3>
    {% if author.gender == "M" %}
        <li>{{ author }}. He was born in {{ author.date_of_birth }}</li>
    {% else %}
        <li>{{ author }}. She was born in {{ author.date_of_birth }}</li>
    {% endif %}
    {% endfor %}
    </ul>
</body>
</html>